<div style="background: center; background-size: cover; background-image: image-url(<%= image_path("paku1210A1115_TP_V.jpg") %>;">
<div class="container" style="">
	<div class="pull-left col-xs-7" style="text-align:left; height: 500px;">
		<h1>TORI-SUKIとは</br>
			鳥が好きな人同士が繋がり合えたら</br>
			いいなって感じのSNSです
		</h1>
	</div>
</div>
</div>
<div style="background: center; background-size: cover; background-image: image-url(<%= image_path("S__12058655.jpg") %>;">
<div class="container" style="">
	<div class="col-xs-6 col-xs-offset-3" style="text-align:left; height: 500px; color: white;">
		<h1>　</h1>
		<h1>　</h1>
		<h1>　</h1>
		<h1>　</h1>
		<h1>　</h1>
		<h1 style=" margin-bottom: 0px;">自分の飼ってる鳥を自慢したい時</br>
			鳥で困ったことが、教えたいなと思うことがあったら</br>
			どんどん共有しよう！
		</h1>
	</div>
</div>
</div>
<div style="background: top; background-size: cover; background-image: image-url(<%= image_path("o641a5ba9dd77bfbb090fa3334d68c905_57162103_200507_0097.jpg") %>;">
<div class="container">
	<div class="pull-right" style="text-align:left; height: 500px; color: 	#FAEBD7;">
		<h1 style="font-size: 48px;">
			本当に</br>
			鳥は</br>
			可愛いな
		</h1>
	</div>
</div>
</div>