/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.about1
{
	background: center;
	background-size: cover;
	background-image: image-url("paku1210A1115_TP_V.jpg");
}
.about2
{
	background: center;
	background-size: cover;
	background-image: image-url("S__12058655.jpg");
}
.about3
{
	background: top;
	background-size: cover;
	background-image: image-url("o641a5ba9dd77bfbb090fa3334d68c905_57162103_200507_0097.jpg");
}
.top
{
	background-image: image-url("S__12058642.jpg");
}