/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.about_top
{
	background: center;
	background-size: cover;
	background-image: image-url("paku1210A1115_TP_V.jpg");
}
.about_overview
{
	background: center;
	background-size: cover;
	background-image: image-url("S__12058655.jpg");
}
.about_tag
{
	background: top;
	background-size: cover;
	background-image: image-url("o641a5ba9dd77bfbb090fa3334d68c905_57162103_200507_0097.jpg");
}
.about_end
{
	background: top;
	background-size: cover;
	background-image: image-url("o641a5ba9dd77bfbb090fa3334d68c905_57371782_200513_0225.jpg");
}
.top
{
	background-image: image-url("S__12058642.jpg");
	height: 950px;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	background-size: cover;
	background-position: center;
	font-family: 'M PLUS 1p', sans-serif;
}
.BOX
{
	width: 90px;
	height: 40px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #FFFFAA;
	padding: 10px;
	border-left:8px solid #ccc;
}
#panel
{
	height: 530px;
	width: 180px;
	padding:10px;
	background: #eee;
	float: right;
	display: none;
	color: #666;
}
.open
{
    height: 75px;
    width: 120px;
    background: #2C7CFF;
    padding:20px;
    float: right;
    color:white;
    font-size: 24px;
    font-family: Nico Moji;
}
.comment
{
    height: 100%;
    width: 250px;
}
.tag
{
    height: 100%;
    width: 50px;
}
h2
{
	font-family: 'M PLUS 1p', sans-serif;
}